build-deb
build-udeb
cdebconf
cdebconf.substvars
cdebconf-udeb
cdebconf-udeb.substvars
cdebconf-priority
cdebconf-priority.substvars
cdebconf-slang-udeb
cdebconf-slang-udeb.substvars
cdebconf-newt-udeb
cdebconf-newt-udeb.substvars
cdebconf-gtk-udeb
cdebconf-gtk-udeb.substvars
cdebconf-text-udeb
cdebconf-text-udeb.substvars
cdebconf-gtk
cdebconf-gtk.substvars
files
libdebconfclient0
libdebconfclient0.substvars
libdebconfclient0-udeb
libdebconfclient0-udeb.substvars
libdebconfclient0-dev
libdebconfclient0-dev.substvars
tmp
*.debhelper*

