commands-list.h
config.h
libdebconf.so*
libdebconfclient.so*
*.a
debconf
debconf-communicate
debconf-copydb
debconf-dumpdb
debconf-escape
debconf-get-selections
debconf-loadtemplate
debconf-set-selections
debconf-show
dpkg-reconfigure
dpkg-preconfigure
debconf.conf
cdebconf.conf-dist
*.opic
Makefile
*.o

